body{
	margin:0;
	font-family: Arial, sans-serif;
	background-color: #25292B;
	}

	header {
		color:ivory;
		height:400px;
		width:100%;
		background-image: url("../images/header_image.png");
		background-size: cover;
		background-position:center;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		text-shadow: 6px 6px 8px black;
		border-bottom: 2px solid black;
		position:relative;
		z-index:1;
		}
	
		
		#overlay{
			background-color:rgba(0, 0, 0, .3);
			position:absolute;
			top:0;
			bottom:0;
			height:100%;
			width:100%;
			z-index: 2;
	
		}

		header h1{
			margin-top:10%;
			text-align: center;
			font-size: 60px;
			z-index:3;
			}

nav{
	position:fixed;
	top:0;
	left:0;
	right:0;
	display:flex;
	align-items:center;
	height:13%;
	background-color:black;
	z-index:6;
}

#flex-cont{
	
	display:flex;
	align-items:center;
	justify-content:space-around;
	font-family: 'Rubik' , sans-serif;
	height:100%;
	width:100%;
	
}

#flex-cont a{
  text-align: center;
  font-size: 30px;
  background-color: black;
  border-right:2px solid ivory;
  padding:1%;
}

#flex-cont span{
	text-align: center;
	font-size: 25px;
	padding:1%;
}

a#logout{
	font-size: 20px;
	color:slateblue;
}

a:active{
	background-color:azure;
}

 a:hover,a#logout:hover{
	color:lightgrey;
	border-radius: 15px;
}

a{
	cursor:pointer;
	color:white;
	text-decoration: none;
}

#menu{
	display:none;
}

#menu div{
	width:25px;
	height:3px;
	background-color: ivory;
	margin: 5px 0;
}


article.main2{
	display: flex;
	flex-direction: column;
	height:800px;
	border-top: 2px solid black;
	color:ivory
}

article.main2 h1{
	margin-left:15px;
	font-size: 30px;
}

article.main2 #sottotitolo{
	margin-left:15px;
	font-size: 22px;
}

article.main2 form{
display: flex;
justify-content: flex-start;
align-items: center;
margin-left:15px;
margin-top:15px;
font-size: 20px;
}

article.main2 #view{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: slategray;
	margin-top:2%;
	height: 100%;
	margin-bottom: 50px;
}

footer{
    background-color:black;
}
footer p{
	display:flex;
	justify-content: space-around;
	align-items: center;
	width:100%;
	margin:0;
}

.matricola , .università{
	margin-left: 5%;
	color:ivory;
font-family: 'Rubik',sans-serif;
font-size: 20px;
font-weight: bold;
}

.cliccabile{
    cursor:pointer;
}

article.hidden{
    display: none;
}

section#view.hidden{
	display:none;
}

.hidden{
	display:none;
}

@media(max-width:500px){
	#menu{
		display:block;
		}
		
		#menu:active{
			background-color: gray;
		}

		header nav{
			height:8%;
		}

		#flex-cont a{
			display:none;
		}
		
		#flex-cont{
			justify-content: flex-start;
			align-items: center;
			margin-left:5%;
		}

header h1 {
	margin-top: 30%;
    font-size: 40px;
}

header{
	height: 300px;
}

article.main2 form{
	font-size: 16px;
}

article.main2{
	height: auto;
} 

footer p{
	justify-content: center;
	
}

footer p img{
	display:none;
}

.matricola , .università{
font-size: 15px;

}

}