body{
	margin:0;
	font-family: Arial, sans-serif;
	background-color: #25292B;
	}

	header {
		color:ivory;
		height:400px;
		width:100%;
		background-image: url("..//images/header_image.png");
		background-size: cover;
		background-position:center;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		text-shadow: 6px 6px 8px black;
		border-bottom: 2px solid black;
		position:relative;
		z-index:1;
		}
	
		#overlay{
			background-color:rgba(0, 0, 0, .3);
			position:absolute;
			top:0;
			bottom:0;
			height:100%;
			width:100%;
			z-index: 2;
	
		}

		header h1{
			margin-top:10%;
			text-align: center;
			font-size: 60px;
			z-index:3;
			}

nav{
	position:fixed;
	top:0;
	left:0;
	right:0;
	display:flex;
	align-items:center;
	height:13%;
	background-color:black;
	z-index:6;
}

#flex-cont{
	
	display:flex;
	align-items:center;
	justify-content:space-around;
	font-family: 'Rubik' , sans-serif;
	height:100%;
	width:100%;
	
}

#flex-cont a{
  text-align: center;
  font-size: 30px;
  background-color: black;
  border-right:2px solid ivory;
  padding:1%;
}

#flex-cont span{
	text-align: center;
	font-size: 25px;
	padding:1%;
}

a#logout{
	font-size: 20px;
	color:slateblue;
}

a:hover,a#logout:hover{
	color:lightgrey;
	border-radius: 15px;
}

 a:hover{
	color:lightgrey;
	border-radius: 15px;
}

a{
	cursor:pointer;
	color:white;
	text-decoration: none;
}

#menu{
	display:none;
}

#menu div{
	width:25px;
	height:3px;
	background-color: ivory;
	margin: 5px 0;
}

div.intro{
    color:ivory;
    font-size: 40px;
    text-align: center;
    padding: 2% 0;
}

article.scheda{
    display: flex;
	width:50%;
	margin: 0 25%;
	flex-direction: column;
	justify-content: flex-start;
	background-color: slategray;
}

.scheda h1{
	color:ivory;
	text-shadow: 6px 6px 8px black;
	margin-left:1%;
	font-size: 30px;
}

.scheda section{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	height:80%;
	width:90%;
	border:none;
	margin-bottom:5%;
    margin-left:5%;
}

.scheda section div{
    color:ivory;
    text-shadow: 6px 6px 8px black;
    font-size:38px;
    text-align: center;
    margin-bottom: 70px;
}

article.main{ 
	height: 1350px;
	display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
	text-shadow: 6px 6px 8px black;
	border-bottom: 2px solid black;
}

section{
	margin-top:5%;
    border:2px solid black;
    background-color: slategrey;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	text-align:center;
	height:25%;
	width:30%;
}

section div{
    display:flex;
    justify-content: space-between;
}

section div h1{
    color:ivory;
	text-shadow: black;
	font-size: 29px;
	text-align: center;
    margin-left:5%;
}

section div img{
    height:40px;
    width:40px;
}

section p{
    color:ivory;
    text-shadow: 6px 6px 8px black;
    font-size:20px;
    padding:0 1%;
	margin-top: 50px;
    }


footer{
    background-color:black;
}
footer p{
	display:flex;
	justify-content: space-around;
	align-items: center;
	width:100%;
	margin:0;
}

.matricola , .università{
	margin-left: 5%;
	color:ivory;
font-family: 'Rubik',sans-serif;
font-size: 20px;
font-weight: bold;
}

.cliccabile{
    cursor:pointer;
}

article.hidden{
    display: none;
}

section#view.hidden{
	display:none;
}

.hidden{
	display:none;
}

@media(max-width:500px){
	#menu{
		display:block;
		}
		
		#menu:active{
			background-color: gray;
		}

		header nav{
			height:8%;
		}

		header h1{
			font-size: 50px;
		}

		article.main{
			height: auto;
		}

		section{
			width: 100%;
			height: auto;
		}

		.scheda section div{
			font-size: 28px;
		}

		#flex-cont a{
			display:none;
		}
		
		#flex-cont{
			justify-content: flex-start;
			align-items: center;
			margin-left:5%;
		}

footer p{
	justify-content: center;
	
}

footer p img{
	display:none;
}

.matricola , .università{
font-size: 15px;

}

}